.collapse {
    &__panel {
        margin-bottom: 1rem;
        flex-basis: 50%;
        cursor: pointer;        
    }

    &__header {
        background-color: #ff6060;
        color: white;
        padding: 0.5em 1em;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;

        .chevron {
            display: inline-block;
            transition: transform 0.4s ease-in-out;

            &::before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border-right: 2px solid white;
                border-bottom: 2px solid white;
            }

            &.up::before {
                transform: rotate(-135deg);
            }

            &.down::before {
                transform: rotate(45deg);
            }
        }
    }

    &__content {
        background-color: #d9d7d79c;
        padding: 1rem;
        border-radius: 0.7rem;
        position: relative;
        font-size: 24px;
        font-weight: 400;
        top: -2.3rem;
        z-index: -1;
        transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;
        list-style-type: none;
        padding-top: 2rem;
        height: 65%;

        &.visible {
            margin-block: 0;
            min-height: 2rem;
            animation: slide-in 0.8s ease-in-out;
        }
    }

    @keyframes slide-in {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .collapse__panel {
        margin: 0;
    }
}
